<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div class="card shadow mb-4" th:fragment="table">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            Course table
        </h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table
                    class="table"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
            >
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Course</th>
                    <th>Content</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Course</th>
                    <th>Content</th>
                </tr>
                </tfoot>
                <tbody>
                <tr th:each="list: ${courseEditList}" >
                    <td th:text="${list.id}" class="align-items-center col-1"></td>
                    <td class="col-3">
                        <img th:src="@{'/getImg/'+${list.img}}" class="custom-img rounded-start" alt="...">
                    </td>
                    <td>
                        <div class="card-body">
                            <h3 th:text="${list.title}" class="card-title"></h3>
                            <p th:text="${list.description}" class="card-text"></p>
                            <p class="card-text">
                                <small th:text="${list.lastUpdate}" class="text-body-secondary"></small>
                            </p>

                            <a th:href="@{'/adminTrainer/edit/' + ${list.id}}" class="btn btn-primary btn-circle btn-sm">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>

                            <a th:href="@{'/adminTrainer/info/' + ${list.id}}" class="btn btn-info btn-circle btn-sm">
                                <i class="fas fa-info-circle"></i>
                            </a>

                            <a class="btn btn-danger btn-circle btn-sm" data-toggle="modal" th:data-target="'#exampleModalCenter'+${list.id}">
                                <i class="fas fa-trash"></i>
                            </a>

                            <div class="modal fade" th:id="'exampleModalCenter' + ${list.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Please confirm</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Do you want to delete Course?.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <a th:href="@{'/adminTrainer/delete/' + ${list.id}}" class="btn btn-primary">Yes</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>



                </tbody>
            </table>
        </div>
    </div>
</div>

