<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div class="card shadow mb-4" th:fragment="table">
    <div class="card-header py-3 justify-content-between d-flex align-items-center">
        <h6 class="m-0 py-0 my-0 font-weight-bold text-primary">
            Trainer table
        </h6>
        <a class="btn btn-info" data-toggle="modal" data-target="#exampleModalCourse">Add lesson</a>
    </div>
<!--START Modal add lesson-->
    <div class="modal fade" id="exampleModalCourse" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLong">Add lesson form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <label for="titleName" class="form-label">Title name</label>
                    <input class="form-control" id="titleName" placeholder="Title">
                    <hr>
                    <h3 class="fs-5">Choose Video</h3>
                    <input type="file">
                    <hr>
                    <h3 class="fs-5">Choose Test</h3>
                    <input type="file">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a th:href="@{/admin/member/trainer}" class="btn btn-primary">Approve</a>
                </div>
            </div>
        </div>
    </div>
    <!--END Modal add lesson-->



    <div class="card-body">
        <div class="table-responsive">
            <table
                    class="table table-bordered"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
            >
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Lesson Title</th>
                    <th>Video</th>
                    <th>Test</th>
                    <th>Action</th>

                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Lesson Title</th>
                    <th>Video</th>
                    <th>Test</th>
                    <th>Action</th>

                </tr>
                </tfoot>
                <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>Bài 1 : Bài học vui vẻ</td>
                    <td>
                        <a href="#">Video</a>
                    </td>
                    <td>
                        <a href="#">Test</a>
                    </td>

                    <td>
                        <!-- Button trigger modal -->
                        <a href="#" class="btn btn-danger btn-circle btn-sm" data-toggle="modal" data-target="#exampleModalLesson">
                            <i class="fas fa-trash"></i>
                        </a>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalLesson" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Please confirm</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Do you want to delete trainer?.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <a th:href="@{/admin/member/trainer}" class="btn btn-primary">Yes</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

