<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div class="card shadow mb-4" th:fragment="table">
    <div class="card-header py-3">
        <div class="container">


            <form th:action="@{'/trainer/save'}" th:object="${trainerDTO}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <label class="form-label">First Name: <input class="form-control" type="text" th:field="*{firstName} "/></label><br>
                <label class="form-label">Last Name: <input class="form-control" type="text" th:field="*{lastName} "/></label><br>
                <label class="form-label">Email: <input class="form-control" type="text" th:field="*{email}"/></label><br>
                <label class="form-label">Phone: <input class="form-control" type="text" th:field="*{phone}"/></label><br>
                <label class="form-label">Date Created: <input class="form-control" type="text" th:field="*{dateCreated}"/></label><br>
                <label class="form-label">Status: <input class="form-control" type="text" th:field="*{status}"/></label><br>
                <button class="btn btn-primary" type="submit">Save</button>
            </form>
        </div>
    </div>

</div>