<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<div th:fragment="titlePageContent">
    <div class="row d-flex justify-content-between">
        <div class="col-xl-3 col-lg-3">
            <div class="row d-flex flex-column mx-0">
            <div class="card border-left-primary shadow py-1">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Total members
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                3
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card border-left-success shadow py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Total income
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                600$
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-12 ">

        <div class="card">
            <div class="row g-0">
                <div class="col-md-4">
                    <img th:src="@{'/getImg/'+${courseEdit.img}}" class="custom-img rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="table card-body py-3 my-0">
                        <input type="hidden" th:field="*{courseEdit.id}"/>
                        <h3 th:text="${courseEdit.title}" class="card-title"></h3>
                        <p th:text="${courseEdit.description}" class="card-text"></p>
                        <p class="card-text"><small th:text="${courseEdit.lastUpdate}" class="text-body-secondary"></small></p>
                    </div>
<!--                    Start modal change course -->
                        <div class="modal fade" th:id="'exampleModalCenter' + ${courseEdit.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">Change info course form</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <label for="Title" class="form-label">Title Course</label>
                                    <input class="form-control" id="Title" placeholder="Title">
                                    <hr>
                                    <label for="Description" class="form-label">Description</label>
                                    <input class="form-control" id="Description" placeholder="Description">
                                    <hr>
                                    <h3 class="fs-5">Choose Img Avatar</h3>
                                    <input type="file">
                                    <hr>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <a  class="btn btn-primary">Yes</a>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    End modal change course-->
                </div>
            </div>
        </div>
        </div>
    </div>
</div>