<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div class="card shadow mb-4 py-5" th:fragment="table">

    <form th:action="@{/adminTrainer/save}" th:object="${courseUpdate}"
          enctype="multipart/form-data" method="post">
        <div class="text-center w-100">
            <h2>Edit course form</h2>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="w-50  shadow-lg p-4 mb-1 bg-body-tertiary rounded">
                <input type="hidden" th:field="*{id}">
                <div class="my-3">
                    <label for="Title" class="form-label">Title Course</label>
                    <input th:field="*{title}" type="text" class="form-control" id="Title" placeholder="Title">
                </div>
                <div class="mb-3">
                    <label for="Description" class="form-label">Description</label>
                    <textarea th:field="*{description}" class="form-control" id="Description" placeholder="Description"></textarea>
                </div>
                <fieldset disabled class="mb-3">
                    <label for="disabledTextInput" class="form-label">Last update</label>
                    <input th:field="*{lastUpdate}" type="text" id="disabledTextInput" class="form-control" placeholder="Time last update">
                </fieldset>
                <hr>
                <div class="mb-3">
                    <h3 class="fs-5">Choose Img Avatar</h3>
                    <input name="imgCourseEdit" type="file">
                </div>
                <hr>
            </div>
            <hr>
            <div>
                <a th:href="@{/adminTrainer/index}" class="btn btn-secondary" data-dismiss="modal">Cancel</a>
                <button type="submit" class="btn btn-primary"
                        onclick="return confirm('Are you sure you want CHANGE this Course?')">Yes</button>

            </div>
        </div>
    </form>
</div>

